<% content_for :page_name do %>Автономное электричество<% end %>
<% content_for :keywords do %>энергосберегающие технологии,альтернативные источники энергии,инверторы,системы автономного электропитания,системы бесперебойного электропитания,ветрогенераторы,солнечные батареи,аккумуляторные батареи,gem,agl,автономная система энергообеспечения,солнечная энергосистема, производство солнечных модулей,солнечные батареи продажа,солнечная панель,солнечное зарядное устройство,продажа аккумуляторных батарей, солнечные батареи, системы резервного электроснабжения, бесперебойное питание<% end %>
<% content_for :description do %>Энергосберегающие технологии. Альтернативные источники энергии. Ветрогенератор для загородного дома. Обеспечения бесперебойным электроснабжением.<% end %>
<%= content_for :title do %>Продажа ветряков, солнечных батарей, инверторов, аккамуляторов, agm аккумуляторов, haze аккумуляторов, источноков бесперебойного питания<% end %>
<div id="product" style="line-height:20px">
	<div style="overflow:hidden;">
		<h1>НПП &laquo;Красная Энергия&raquo; - энергосберегающие технологии</h1>
		<div style="float:left; margin:0 25px 25px 0; height:550px" >
			<img  src="/images/base/main_picture.png" alt="Ветрогенератор"/>
		</div>
		Наша компания занимается <strong class="bold">системами автономного электропитания</strong> с 2001 года.
		У нас накоплен <b>большой опыт</b> по установке систем автономного электропитания.
		В нашем <a href="catalog">каталоге</a> имеется продукция не только сторонних производителей, но и собственные разработки.
		<b>Мы предлагаем оборудование по самым низким ценам!</b>

		<strong>Альтернативные источники энергии</strong> и <strong>энергосберегающие технологии</strong>
		не только способствуют <strong>сохранению экологического баланса</strong>, но и позволяют
		<strong>сэкономить топливо и электроэнергию</strong>, а значит - ваши деньги.
		<p/>
		<h2>Мы предлагаем</h2>
		<ul class="production-list">
			<li>
				<a title="Инверторы" href="<%= url_for :controller => :articles, :action => :show, :alias => 'invertors' %>">
					<strong>Инверторы</strong>
				</a>
			</li>
			<li>
				<a title="Системы автономного электропитания (газ)" href="/catalog/self_power_gas">
					<strong>Системы автономного электропитания</strong> (газ)
				</a>
			</li>
			<li>
				<a title="Системы автономного электропитания (бензин)" href="/catalog/self_power_gasoline">
					<strong>Системы автономного электропитания</strong> (бензин)
				</a>
			</li>
			<li>
				<a title="Системы бесперебойного электропитания" href="/catalog/uninterruptible_power">
					<strong>Системы бесперебойного электропитания</strong>
				</a>
			</li>
			<li>
				<a title="Ветрогенераторы" href="/catalog/wind_generator">
					<strong>Ветрогенераторы</strong>
				</a>
			</li>
			<li>
				<a title="Солнечные батареи" href="/catalog/solar-panels">
					<strong>Солнечные батареи</strong>
				</a>
			</li>
			<li>
				<a title=" Изготовление, монтаж и обслуживание систем автономного и бесперебойного электроснабжения" href="<%= url_for :controller =>:solutions, :action=> :index %>">
					<strong> Изготовление, монтаж и обслуживание систем автономного и бесперебойного
						электроснабжения</strong>
				</a>
			</li>
			<li>
				<a title="Аккумуляторные батареи на основе технологии GEL" href="<%= url_for :controller => :catalog, :action=>:index %>">
					<strong>Аккумуляторные батареи на основе технологии GEL</strong>
				</a>
			</li>
			<li>
				<a title="Аккумуляторные батареи на основе технологии AGM" href="<%= url_for :controller => :catalog, :action => :index %>">
					<strong>Аккумуляторные батареи на основе технологии AGM</strong>
				</a>
			</li>
			<li>
				<a title="LED светильники" href="<%= url_for :controller => :catalog, :action=>:led_lighting %>">
					<strong>LED светильники</strong>
				</a>
			</li>
			<li>
				<a title="Оптико-акустические датчики движения КЭ-ДОА" href="<%= url_for :controller => :catalog, :action=>:optico_acust_ke_doa %>">
					<strong>Оптико-акустические датчики движения КЭ-ДОА</strong>
				</a>
			</li>


		</ul>
	</div>
	<h2>Решаем следующие задачи:</h2>
	<ul>
		<li>
			Обеспечения <strong>бесперебойным электроснабжением</strong> (<strong>электричеством</strong>) при <a href="/solutions">кратковременных отключениях <strong>электричества</strong></a>, и длительном отсутствии <strong>электроснабжения</strong>.
		</li>
		<li>
			<a href="/solutions">Увеличения максимальной мощности потребления</a>, в случае ограниченной выделенной входной мощности <strong>электричества</strong>.
		</li>
		<li>
			Расчета и подбора оптимального в техническом и ценовом плане энергоблока, обеспечивающего минимальные затраты при эксплуатации, при <a href="/solutions">отсутствии <strong>электрической</strong> сети</a>.
		</li>
	</ul>
</div>

<div id="twitter">
	<%= render "shared/twitter", :tweets => @tweets %>
</div>

<div class="note">
   Обращаем ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями ч. 2 ст. 437 Гражданского кодекса Российской Федерации.
</div>
