<%= content_for :page_name do %>Технологии
<% end %>
<%= content_for :title do %>Энергосберегающие технологии, Солнечная энеогетика, Ветроэнергетика, Сетодиодные излучатели
<% end %>
<%= content_for :keywords do %>солнечная энергетика, ветроэнергетика, светодиодные излучатели, энергоустановки
<% end %>
<%= content_for :description do %>Солнечная энергетика, Ветроэнергетика, Светодиодные излучатели
<% end %>
<div class="article">
  <h1 style="margin:10px 0 20px 0">Солнечная энергетика</h1>
  <img style="float:left; margin: 0 15px 5px 0" src="/images/technologies/technologies_solar.jpg" alt="Солнечная энергетика" title="Солнечная энергетика"/>
  Полное количество
  <strong>солнечной энергии<strong>, поступающей на поверхность Земли за неделю, превышает энергию всех мировых
    запасов нефти, газа, угля и урана! <strong>Солнечная энергия</strong> уже в настоящее время является серьезной
    <strong>альтернативой традиционной энергетике</strong>. Применение <strong>энергоустановок</strong> на
    <strong>солнечной энергии</strong> (например, для нагрева воды или для системы отопления дома) позволит
    <strong>снизить потребление электроэнергии</strong> до 60% (в США, например, на данный
    момент времени <strong>солнечные водонагреватели</strong> установлены в более чем 1500000 домах)! Следует отметить,
    что на данном
    этапе развития технологий использовать только <strong>альтернативную</strong> (нетрадиционную) энергию для
    обеспечения бытовых потребностей
    человека в <strong>электричестве</strong> нельзя, но начинать использовать вместе с традиционной необходимо
    (например, для низковольтного
    <strong>электроснабжения</strong> - датчики, сенсоры, дежурное освещение и т.д.). Это связано, прежде всего, с тем,
    что сегодня
    человечество находится на грани экологической катастрофы, для предотвращения которой, кстати, практически ничего не
    принимается.
    <div>
      <a href="<%= url_for :controller => :catalog, :action => :index %>">Каталог</a> &rarr; <a href="<%= url_for :controller => :catalog, :action => :solar_panels %>"><strong>Солнечные батареи</strong></a>
    </div>
    <h1>Ветроэнергетика</h1>
    <img style="float:left; margin: 0 15px 5px 0" title="Ветроэнергетика" alt="Ветроэнергетика" src="/images/technologies/technologies_wind.jpg"/>
    Сегодня мировая <strong>ветроэнергетика</strong> - бурно развивающаяся индустрия с миллиардными оборотами.
    Германия, например, покрывает 4,7% своего <strong>энергопотребления</strong>; Дания с помощью </strong>ветроэнергетики</strong>
  планирует довести этот
  показатель до 50% к 2030 году! В настоящее время в России также отмечается рост интереса к
  <strong>ветроэнергетике</strong> - появляется много желающих
  пользоваться бесплатным и повсеместно доступным <strong>энергоресурсом</strong> - ветром. Неоспоримым преимуществом
  <strong>ветрогенераторов</strong>
  отечественного производства является то, что в отличии от большинства западных образцов, наши установки способны
  работать в экстремальных условиях: при очень низкой температуре и большой скорости ветра!
  <div>
    <a href="<%= url_for :controller => :catalog, :action => :index %>">Каталог</a> &rarr; <a href="<%= url_for :controller => :catalog, :action => :wind_turbines %>"><strong>Ветрогенераторы</strong></a>
  </div>

  <h1>Светодиодные излучатели</h1>
  <img style="float:left; margin: 0 15px 5px 0" title="Светодиодные излучатели" alt="Светодиодные излучатели" src="/images/technologies/technologies_LED_emitters.gif"/>
  <strong>Cверхяркие светодиоды</strong>, c рекордной 5Вт яркостью свечения для приборов данного класса. Основные
  преимущества <strong>светодиодов</strong> перед лампами накаливания: 1. Срок службы светодиодов в 100 раз больше чем у
  лампы
  накаливания 2. Использование <strong>светодиодов</strong> позволяет получать более яркие и сочные цвета по сравнению с
  традиционными лампами накаливания с цветными фильтрами. По оценкам ведущих западных производителей оптоэлектронных
  приборов, к 2010 году
  яркость свечения <strong>светодиодов</strong> достигнет 1000 люкс и приборы на основе полупроводников вытеснят
  традиционные лампы накаливания и заменят их практически в 90% приложений. В настоящий момент достигнута яркость от 120
  до 190 люмен на
  один излучатель. Применение подобных приборов является еще одним шагом в использовании
  <strong>энергосберегающих технологий</strong>.
  <div>
     <a href="<%= url_for :controller => :catalog, :action => :index %>">Каталог</a> &rarr; <a href="<%= url_for :controller => :catalog, :action => :led_lighting %>"><strong>LED светильники</strong></a>
  </div>
</div>